@import url(https://fonts.googleapis.com/css?family=Montserrat);
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #32323c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

button {
  position: relative;
  border: none;
  font-size: 18px;
  /* font text opacity 100% */
  
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 3px 13px;
  border: 3px solid transparent;
}
button:active {
  transform: translateY(3px);
}
button::after, button::before {
  border-radius: 3px;
}

.shrink-border {
  /* min-width: 10px; */
  background-color: transparent;
  color: rgba(0,0,0,0);
}
.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: #e6e6e6;
}
.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #1b1b20;
  transition: opacity 0.3s, border 0.3s;
}
.shrink-border:hover::before {
  opacity: 0.1;
}
.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid #e6e6e6;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}
.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.hdiv{
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap
}

.game{

  /* border:solid 1px black; */
  display:inline-block;
  /* vertical-align: top; */
}